<section id="company">
	<h4 class="section-title">
		<i class="fa fa-flag" aria-hidden="true"></i>
		四川省恒骏丰贸易有限公司
	</h4>
	<div class="jumbotron row">
		<div class="col-xs-12">
			<img src="img/company/5A.jpg">
		</div>
	</div>
	<p>四川省恒骏丰贸易有限公司于2014年1月23日在成都注册成立，位于西南航空港物流园区会缘路600号（毗邻双流国际机场），是一家专业销售轮胎的实体型公司。</p>
	<p>在2010年期间，公司与同行共同出资占地66亩，兴建办公大楼、仓储库房、员工宿舍、食堂、篮球场、台球室等配套办公场地及生活设施。真正意义上讲，公司及员工有了属于自己的家。从此，进入现代化、正规化的发展道路。凭借着公司多年来的诚信经营，与厂家、员工、客户、合作伙伴共同合作已达十年之久，经营的产品主要致力于国内、国外知名轮胎品牌：金宇、玉祺麟、玲珑、华盛、玛吉斯、奥力拉、普利司通等，遍布在四川各地区的批发与零售。</p>
	<p>公司经营轮胎历史悠久。从1995年始，创建人鄢正勇先生随父亲一起在德阳广汉以经营轮胎起家，2006年成立广汉市华峰轮胎销售有限公司。经过多年的努力与发展，塑造了良好的企业宗旨和文化理念，坚持贯彻“诚信立业，共赢行远，提供高品质轮胎赢得市场”的企业宗旨，秉承“以质量、优质服务赢得市场”的服务理念，不断地提高管理模式、技术支持、售后服务、持续发展等经营方针，在行业内树立起良好的口碑和形象，并得到广大客户、合作伙伴和消费者的一致信赖和认可。公司现有员工50余名，分别服务于六大部门及直营店，内部各项管理体系也不断完善和优化，将各部门融为一体，共同为我们的客户、合作伙伴和消费者提供更好的服务。人事行政部为公司内外做好统一的协调协助工作，专业的营销团队负责全川网络的销售工作，专职会计和出纳做好进销存的统计核算工作，6台专业的物流车队进行局部配送，以及专业的监管员、三包员、库管员和装卸工，精心地为客户、合作伙伴和消费者提供全方面的综合保障服务。至今，公司已在全省范围内，构建成数百家经销网络批发中心及零售商，拥有数十家稳定的联盟客户，八家直营网点，销售网络在稳定的基础上不断扩大。同时，公司在发展的道路上，始终不忘“吃水不忘挖井人”、“授人以鱼不如授人以渔”的道理，培养出全员的三分之一优秀骨干、部门经理、品牌经理、店长，均在重要的岗位上发挥管理和服务作用。未来将在此基础上，培养出更多的有志向、有上进的年轻创业者。</p>
	<p>公司于2016年4月6日成立“补胎匠工会之家”，皆在今后为广大的轮胎人、消费者提供更加优质的便捷服务。在今后的事业中，将坚持贯彻深化改革，科学创新，增进传统业的三单模式，实现“信息化、数字化、社交化”动态价值链的商业模式，打造行业内的领军者，带领公司员工、客户、合作伙伴共同创业致富。</p>
	<div class="jumbotron row">
		<div class="col-xs-12">
			<h4>集团公司全景</h4>
			<img src="img/company/panorama.jpg">
		</div>
	</div>
	<div class="jumbotron row">
		<div class="col-xs-12">
			<h4>公司大门</h4>
			<img src="img/company/entrance.jpg">
		</div>
	</div>
	<div class="jumbotron row">
		<div class="col-xs-12">
			<h4>办公楼</h4>
			<img src="img/company/office building.jpg">
		</div>
	</div>
	<div class="jumbotron row">
		<div class="col-xs-12">
			<h4>生活设施</h4>
			<img src="img/company/facilities.jpg">
		</div>
	</div>

	<a class="goto-top" href="#" ng-click="onGotoTop()"></a>
</section>