<section id="cultural">
	<h4>
		<i class="glyphicon glyphicon-education" aria-hidden="true"></i>
		恒骏丰企业文化
	</h4>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>恒骏丰宗旨</h5>
		</div>
		<div class="panel-body">
			<p class="inner-tittle">诚信立业，共赢行远</p>
			<p>1、诚信立业：重承诺、守信义、以诚立业、以信取人。</p>
			<p>2、共赢行远：友好协商、充分信任、携手共进、展望未来。坚持贯彻，秉承“诚实守信，提供高品质轮胎赢得市场”的企业宗旨，在行业内树立良好的口碑和形象。</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>恒骏丰愿景</h5>
		</div>
		<div class="panel-body">
			<p>成为国内知名的轮胎品牌商，带领员工、合作伙伴共同致富。</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>恒骏丰使命</h5>
		</div>
		<div class="panel-body">
			<p>“以质量、优质服务赢得市场”的服务理念，推动更多组织和个人实现自我价值，获得精神和物质的富足。</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>引领恒骏丰实现愿景的四大核心价值观</h5>
		</div>
		<div class="panel-body">
			<p class="inner-tittle">合作，创新，坚持，自信</p>
			<p>1、合作：对内倡导沟通，对外主张互惠，营造和谐、协调的氛围。</p>
			<p>2、创新：不断学习，不断超越，博采众长，迎接挑战。</p>
			<p>3、坚持：不畏艰辛，不惧挫折，契而不舍，向目标行进。</p>
			<p>4、自信：肯定自我能力和自我价值，坚持自己的追求，积极的行动。</p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>恒骏丰的用人理念</h5>
		</div>
		<div class="panel-body">
			<p class="inner-tittle">公开、公平、公正</p>
			<p>有德有才破格重用</p>
			<p>有德无才培养使用</p>
			<p>有才无德限制使用</p>
			<p>无德无才坚决不用</p>
		</div>
	</div>
</section>