<section id="product">
	<h4 class="section-title">
		<i class="fa fa-cart-plus" aria-hidden="true"></i>
		产品介绍
	</h4>

	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-truck" aria-hidden="true"></i>
			我们的供应商：
		</div>
		<div class="panel-body">
			<select class="form-control" ng-options="manufacturer.name for manufacturer in manufacturerList" ng-model="selectedManufacturer" ng-change="onSelectManufacturer()"></select>
		</div>
	</div>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" id="panel-aolila">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
						奥利拉
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="panel-body" align="center">
					<div class="logo" style="background-image: url(img/product/aolila.jpg)"></div>
					<p>韩泰轮胎是全球第七大、同时也是成长最快的轮胎生产制造商之一，主要生产乘用车、SUV、轻卡、卡客车及赛车轮胎。韩泰轮胎致力于为消费者提供最优品质的产品和非凡的驾驶体验，一直持续地对其遍布全球的五大研发中心投入研发费用。目前，韩泰轮胎在全球180个国家设有销售网络，雇员人数超过20.000人。</p>
					<p>“奥力拉”是韩泰轮胎旗下的卡客车轮胎高端品牌，致力于为消费者提供源源不断的驾驶动力，该品牌自诞生开始就被赋予高科技的尊贵元素。2009年7月18日，“奥力拉”品牌正式进入中国。</p>
				</div>
				<div class="panel-footer" align="center">
					<h4>
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						热销产品
					</h4>
					<img src="img/product/aolila-1.jpg" />
					<img src="img/product/aolila-2.jpg" />
					<img src="img/product/aolila-3.jpg" />
					<img src="img/product/aolila-4.jpg" />
				</div>
			</div>
		</div>

		<div role="tabpanel" id="panel-huasheng">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
						华盛
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="panel-body" align="center">
					<div class="logo" style="background-image: url(img/product/huasheng.jpg)"></div>
					<p>山东华盛轮胎集团成立于1995年，是一家为全球市场提供橡胶产品的企业集团，总部位于山东东营，目前主要经营轮胎和输送带的制造、科研、出口贸易及轮胎生产原材料的进口贸易。集团总生产产区占地面积150万平方米，员工4500余人，工程技术人员60人，国家级工程师20余人。</p>
					<p>集团下辖山东宏盛橡胶有限公司、山东华盛橡胶有限公司、山东宏盛橡胶科技有限公司和青岛宏华盛贸易有限公司，分别致力于输送带、商用车轮胎、乘用车轮胎的生产、科研和轮胎进出口贸易。</p>
					<p>输送带拥有国内一流的钢丝绳生产线，大型平板硫化生产线、密炼、压延生产线、实验仪器等先进设备和尖端的生产技术处于同行业领先水平。先后一次性顺利通过ISO9001:2008国家质量体系认证，全国工业品生产许可证和齐全的煤安标志认证等系列证书，所销产品广泛用于煤 炭、矿山、冶金、化工、港口等行业的物流输送。</p>
				</div>
				<div class="panel-footer" align="center">
					<h4>
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						热销产品
					</h4>
					<img src="img/product/huasheng-1.jpg" />
					<img src="img/product/huasheng-2.jpg" />
					<img src="img/product/huasheng-3.jpg" />
				</div>
			</div>
		</div>

		<div role="tabpanel" id="panel-jinyu">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
						金宇
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="panel-body" align="center">
					<div class="logo" style="background-image: url(img/product/jinyu.jpg)"></div>
					<p>金宇轮胎集团始建于1995年，是一家专业的汽车轮胎研发制造企业。 拥有先进的轮胎生产、研发、检测装备和专业化的技术、管理团队，建立了完善的质量保证体系，销售市场遍及全国各地和海外一百多个国家和地区。</p>
					<p>集团通过了ISO/TS16949质量管理体系、ISO14001环境管理体系、OHSAS18001职业健康安全管理体系等国际性认证；公司产品通过了国家CCC、美国交通部DOT、欧洲经济委员会ECE、巴西INMETRO等国内外产品认证；公司实验室通过了ISO/IEC 17025实验室认可。“金宇”牌轮胎产品被认定为“山东名牌”产品。公司被认定为国家级守合同重信用企业、国家信息化500强企业、中国进出口质量诚信企业、中国石油和化工行业出口前百家企业、省级高新技术企业、山东最佳企业公民、省银行业最佳信贷诚信客户、中国建设银行总行级重点客户、中国工商银行总行级产业链核心客户、国际贸易融资重点客户。</p>
					<p>集团始终坚持“共同利益高于一切”的企业精神，以“倾心为顾客提供更有价值的产品和服务”为目标，坚持顾客导向、诚实守信、依法经营、科学发展，努力实现消费者、经销商、供应商、员工、股东、社区、政府、企业等利益相关者的共同利益最大化。</p>
				</div>
				<div class="panel-footer" align="center">
					<h4>
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						热销产品
					</h4>
					<img src="img/product/jinyu-1.jpg" />
					<img src="img/product/jinyu-2.jpg" />
					<img src="img/product/jinyu-3.jpg" />
					<img src="img/product/jinyu-4.jpg" />
				</div>
			</div>
		</div>

		<div role="tabpanel" id="panel-linglong">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
						玲珑
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="panel-body" align="center">
					<div class="logo" style="background-image: url(img/product/linglong.jpg)"></div>
					<p>山东玲珑橡胶有限公司属中国大型企业。位于“中国金都”招远市。公司创建于1975年，是中国百佳汽车零部件供应商，现有职工 8000 人，工程技术人员 1600 多名，拥有总资产 40亿元。主导产品有“玲珑”牌、“山岭”牌和“利奥”牌斜交胎、半钢子午线轮胎和全钢子午线轮胎十大系列600 多个规格品种。</p>
					<p>山东玲珑轮胎股份有限公司是一家专业化、规模化的技术型轮胎生产企业，公司注册资本10亿元，公司具备年产能4100万套轮胎能力，经过多年的创新发展，现已成长为资产过百亿、收入过百亿、员工过万名的国内知名轮胎企业，连续多年入围世界轮胎20强。</p>
					<p>公司拥有国家级企业技术中心和国家认可实验室，建设了行业内第一家噪声实验室和低滚动阻力实验室，掌握了行业前沿的研发与试验检测手段，承担了国家863计划、火炬计划等多项国家级技术攻关课题，主导和参与制定及修改了60多项国家及行业标准，取得300多项国内外专利，其中有多项新产品、新技术填补国内空白。公司自主研发的“低断面抗湿滑低噪音超高性能轿车子午线轮胎”，获得“国家科技进步二等奖”。“玲珑”商标被国家工商总局认定为中国驰名商标，玲珑品牌以155.36亿元的品牌价值继续居国内轮胎行业上榜品牌价值之首。</p>
				</div>
				<div class="panel-footer" align="center">
					<h4>
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						热销产品
					</h4>
					<img src="img/product/linglong-1.jpg" />
					<img src="img/product/linglong-2.jpg" />
					<img src="img/product/linglong-3.jpg" />
					<img src="img/product/linglong-4.jpg" />
					<img src="img/product/linglong-5.jpg" />
				</div>
			</div>
		</div>

		<div role="tabpanel" id="panel-majisi">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
						玛吉斯
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="panel-body" align="center">
					<div class="logo" style="background-image: url(img/product/majisi.jpg)"></div>
					<p>玛吉斯（MAXXIS），是正新橡胶（中国）有限公司下的高端轮胎品牌，跻身全球轮胎品牌十强，产品行销全球170多个国家和地区。正新橡胶（中国）有限公司是由台湾正新橡胶工业股份有限公司转投资设立的外商投资企业。公司成立于1993年7月，厂址位于江苏省昆山市经济技术开发区合丰路。总占地面积为152万平方米，其中测试场面积达86万平方米。</p>
					<p>正新橡胶（中国）有限公司主要生产汽车卡车用子午线轮胎及其他橡胶制品，产能达到1900万余条/年，成为国内最大橡胶轮胎生产企业之一。产品以既有的世界性销售网行销欧、美、日等170多个国家及地区，并配合国内经济社会发展及对高品质轮胎之需求供给国内市场，目前正新国际集团名列全球轮胎品牌第九位。</p>
					<p>公司投资建设了世界级水准的轮胎研发中心及轮胎测试跑道，其配置在中国测试道规模中名列前茅。公司采用世界先进的机械设备，并拥有进步的技术及高效率的管理，秉持诚实经营、真心工作、品质第一、增进团队福祉、制造最好产品、贡献人类的企业经营理念，生产制造各类型轮胎。</p>
					<p>强者实力，源自科技。玛吉斯斥资十亿打造研发中心和大面积、高水准专业轮胎测试场，引入全球先进的研发技术和测试设备，从源头保证产品质量与竞争力。并与上海通用、上海大众、上海汽车、长安福特、东风日产等知名汽车厂商合作提供配套轮胎。</p>
				</div>
				<div class="panel-footer" align="center">
					<h4>
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						热销产品
					</h4>
					<img src="img/product/majisi-1.jpg" />
					<img src="img/product/majisi-2.jpg" />
					<img src="img/product/majisi-3.jpg" />
					<img src="img/product/majisi-4.jpg" />
				</div>
			</div>
		</div>

		<div role="tabpanel" id="panel-pulisitong">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
						普利司通
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="panel-body" align="center">
					<div class="logo" style="background-image: url(img/product/pulisitong.jpg)"></div>
					<p>普利司通(BRIDGESTONE)公司是世界最大的轮胎及橡胶产品生产商，也是世界轮胎业三巨头之一。雄居世界橡胶业及轮胎业前列的普利司通集团。</p>
					<p>自1931年创建以来，始终奉行“以最高品质贡献社会”的企业方针，坚持为具有不同消费需求的用户提供所喜爱的商品。以领先于时代的尖端技术和积。</p>
					<p>极果敢的进取精神，从开发、生产、销售、物流到售后服务均实行全方位的品质管理。普利司通作为享誉世界的跨国公司，目前销售区域遍布全球150多个国家，是世界上最大的轮胎制造厂商之一，并稳居财富杂志世界500强排名之列。</p>
				</div>
				<div class="panel-footer" align="center">
					<h4>
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						热销产品
					</h4>
					<img src="img/product/pulisitong-1.jpg" />
					<img src="img/product/pulisitong-2.jpg" />
					<img src="img/product/pulisitong-3.jpg" />
				</div>
			</div>
		</div>

		<div role="tabpanel" id="panel-yuqilin">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
						玉麒麟
						<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
					</h4>
				</div>
				<div class="panel-body" align="center">
					<div class="logo" style="background-image: url(img/product/yuqilin.jpg)"></div>
					<p></p>
					<p></p>
					<p></p>
				</div>
				<div class="panel-footer" align="center">
					<h4>
						<i class="fa fa-line-chart" aria-hidden="true"></i>
						热销产品
					</h4>
					<img src="img/product/yuqilin-1.jpg" />
					<img src="img/product/yuqilin-2.jpg" />
					<img src="img/product/yuqilin-3.jpg" />
				</div>
			</div>
		</div>
	</div>

	<a class="goto-top" href="#" ng-click="onGotoTop()"></a>
</section>