<section id="thanks">
	<div class="jumbotron">
		<h3>
			<i class="fa fa-envelope" aria-hidden="true"></i>
			致谢信
		</h3>
		<br />
		<p>“新的起点，新的征程，孕育着新的发展和辉煌。”衷心感谢各界友情合作机构，一如既往地关怀和支持“补胎匠之家”的成长，关心公司的发展，支持合作伙伴们的共同事业。将来，我们将更加地紧密团结，不断拼搏，再接再厉，跨越发展，为我们的用户（卡客车司机）提供更佳优质的服务，带动“补胎匠之家”的家庭成员创新变革和共同致富。</p>
		<p>我们在这里共同见证“我们携手合作发展”的步伐。在此，向为“补胎匠之家”发展做出卓越贡献的友情合作机构，表示深切的感谢。</p>
		<p>今天，我们看到了一个持续发展，具有永恒动力的时代。经过公司20多年来不断的努力，我们得到了社会的关注、市场的认可，以及供应商的支持、客户的认同、用户的信赖、员工的拥护，并焕发出勃勃的青春活力和盎然生机。</p>
		<p>与各界友情合作机构携手形成核心竞争联合体，是公司在发展史上一个具有重要意义的里程碑。它标志着“补胎匠之家”这个轮胎人的大家庭，已经步入了一个具有较强竞争力、较强影响力和较强增长潜力的全新发展时期。同时，极大地坚定了我们打造轮胎行业“先行者”的决心。让我们共同为这一辉煌目标和信念不断地努力和奋斗！在公司的创业和发展过程中，众多的供应商伙伴企业，也给予了我们鼎立的支持和帮助，保证了公司沿着正确的方向快速、持续、健康的发展。我们将永远铭记这是各界伙伴们的关心帮助、鼎力支持的结果。在公司的发展中，各界合作机构、客户、广大用户给予了我们极大的信任和无私支持，并与我们同甘共苦、风雨同舟，使我们在激烈的市场竞争中创造出了一个又一个的奇迹。</p>
		<p>今天“恒骏丰补胎匠”又是一个新的起点。将不辜负合作伙伴和社会各界的厚望，承前启后，继往开来，创新发展，我们将紧紧围绕公司的战略目标，坚持“和谐创新，科学高效”的发展道路，在轮胎行业中尽一份职责，添一份光彩。</p>

		<div class="row">
			<div class="col-xs-12">
				<img src="img/common/logo.jpg">
			</div>
		</div>
	</div>

	<a class="goto-top" href="javascript:void(0);" ng-click="onGotoTop()"></a>
</section>