<section id="welfare">
	<br />
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li role="presentation" class="active">
			<a href="#yiwaixian" role="tab" data-toggle="tab">
				<i class="fa fa-ambulance" aria-hidden="true"></i>
				意外险
			</a>
		</li>
		<li role="presentation">
			<a href="#lvshizixun" role="tab" data-toggle="tab">
				<i class="fa fa-file-text" aria-hidden="true"></i>
				律师咨询
			</a>
		</li>
		<li role="presentation">
			<a href="#aixinpingtai" role="tab" data-toggle="tab">
				<i class="fa fa-heart" aria-hidden="true"></i>
				爱心平台
			</a>
		</li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="yiwaixian">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4 class="section-title">补胎匠工会之家”赠予会员意外险使用教程</h4>
					<h5>第一部分：意外伤害保险的含义</h5>
					<p>指被保险人在保险有效期间，因遭遇非本意的、外来的（非身体内部原因）、突发的意外事故，非疾病的客观事件为直接且主要原因导致的身体伤害，致使其身体遭受伤害而残疾或死亡时，保险人依照合同约定给付保险金的保险。</p>
					<p>猝死不属于意外伤害。（猝死是指貌似健康的人因潜在疾病、机能障碍或其他原因在出现症状后24小时内发生的非暴力性突然死亡，属于疾病身故。猝死的认定，如有公安机关、检察院、法院等司法机关的法律文件、医疗机构的诊断书等，则以上述法律文件、诊断书等为准。）</p>
					<br />
					<h5>第二部分：简易的意外伤害保险责任及除外责任</h5>
					<h5>意外伤害保险责任：该保险期间为一年。</h5>
					<p>1、意外伤害医疗保险金</p>
					<p>一次意外事故，按出险被保险人合理医疗费用（包括门诊或住院）扣除100元后90%报销。</p>
					<p>2、意外伤害住院津贴保险金</p>
					<p>被保险人因意外伤害住院的，从住院第一天起，给付住院津贴；因病情加重进入重症监护病房的，双倍给付。</p>
					<p>3、意外伤害残疾保险金</p>
					<p>被保险人自意外伤害发生之日起180日内，因该意外伤害导致保险人合同所附《人身保险伤残评定标准（行业标准）》所列伤残程度之一的，保险人按下列公式计算并给付意外伤害残疾保险金：</p>
					<p>意外伤害残疾保险金＝该被保险人的保险金额×伤残程度等级相对应的给付比例</p>
					<p>4、意外伤害身故保险金</p>
					<p>被保险人自意外伤害发生之日起180日内因该意外伤害身故的，保险人按该被保险人的保险金额给付意外伤害身故保险金，保险人对该被保险人的保险责任终止。</p>
					<p>如被保险人已领取意外伤害残疾保险金，保险人按该被保险人的保险金额扣减累计给付的意外伤害残疾保险金后的余额给付意外伤害身故保险金，保险人对该被保险人的保险责任终止。</p>
					<br />
					<h5>第三部分：责任免除</h5>
					<p>被保险人因下列1-7项情形之一残疾或身故的，保险人不承担保险责任：</p>
					<p>1.被保险人故意犯罪或抗拒依法采取的刑事强制措施；</p>
					<p>2.被保险人自杀，但自杀时为无民事行为能力人的除外；</p>
					<p>3.被保险人主动吸食或注射毒品；</p>
					<p>4.核爆炸、核辐射或核污染；</p>
					<p>5.猝死；</p>
					<p>6.被保险人的精神和行为障碍（以世界卫生组织颁布的《疾病和有关健康问题的国际统计分类（ICD-10）》为准）；</p>
					<p>7.战争、军事冲突、暴乱或武装叛乱。</p>
					<p>被保险人在下列期间之一遭受意外伤害导致残疾或身故的，保险人不承担保险责任：</p>
					<p>8.被保险人酒后驾驶、无合法有效驾驶证驾驶或驾驶无有效行驶证的机动车期间；</p>
					<p>9.被保险人从事潜水、跳伞、攀岩运动、探险活动、武术比赛、摔跤比赛、特技表演、赛马、赛车等高风险运动期间。</p>
					<p>因上述1-7项情形或在上述8-9项期间被保险人残疾或身故的，保险人对该被保险人不承担意外伤害残疾或身故保险责任，但向投保人退还该被保险人对应的现金价值。</p>
					<br />
					<h5>第四部分：保险事故通知</h5>
					<p>投保人、被保险人或受益人应于知道保险事故发生之日起2日内通知保险人。</p>
					<p>如投保人、被保险人或受益人故意或因重大过失未及时通知保险人，致使保险事故的性质、原因、损失程度等难以确定的，保险人对无法确定的部分，不承担给付保险金的责任，但保险人通过其他途径已经及时知道或应当及时知道保险事故发生，或虽未及时通知但不影响保险人确定保险事故的性质、原因、损失程度的除外。</p>
					<br />
					<h5>第五部分：如何申请领取保险金</h5>
					<p>1.意外伤害残疾保险金的受益人为被保险人本人。</p>
					<p>2.因意外伤害导致被保险人身故，其受益人为法定受益人。</p>
					<br />
					<h5>第六部分：保险金的申请</h5>
					<p>1.申请意外伤害身故保险金时，由受益人或其他有权领取保险金的人作为申请人填写保险金给付申请书，并提供下列证明和资料：</p>
					<p>（1）保险合同；</p>
					<p>（2）申请人的有效身份证件及银行卡复印件（银行卡用途：理赔转帐支付）；</p>
					<p>（3）国家卫生行政部门认定的医疗机构、公安部门或其他相关机构出具的被保险人的死亡证明；</p>
					<p>（4）所能提供的与确认保险事故的性质、原因、伤害程度等有关的其他证明和资料。保险金作为被保险人遗产时，应提供可证明合法继承权的相关权利文件。</p>
					<p>2.申请意外伤害残疾保险金时，由被保险人作为申请人填写保险金给付申请书，并提供下列证明和资料：</p>
					<p>（1）保险合同；</p>
					<p>（2）被保险人的有效身份证件及银行卡复印件（银行卡用途：理赔转帐支付）；</p>
					<p>（3）保险人指定鉴定机构出具的被保险人残疾程度鉴定书；</p>
					<p>（4）所能提供的与确认保险事故的性质、原因、伤害程度等有关的其他证明和资料。</p>
					<p>3. 如申请人为无民事行为能力人或限制民事行为能力人，由其法定代理人代为办理保险金申请。</p>
					<p>4.如委托他人代为申请，应提供授权委托书及受托人的有效身份证件。</p>
					<p>5.境外出险除按上述规定提供相应的保险金给付申请文件以外，凡由境外当地机构出具的保险金给付申请文件还须：</p>
					<p>（1）当地合法公证机构对文件的有效性及真实性进行公证；</p>
					<p>（2）经中国驻当地所在国使领馆认可。 </p>
					<p>6.申请领取连带被保险人保险金时，除应提供上述证明和材料外，还应提供连带被保险人与其所属被保险人的关系证明。 </p>
					<p>7.保险人认为有关证明和资料不完整的，将及时一次性通知申请人补充提供。</p>
					<br />
					<h5>第七部分：保险金的给付</h5>
					<p>保险人在收到保险金给付申请书及上述有关证明和资料后，将在5日内作出核定；情形复杂的，在30日内作出核定。对属于保险责任的，保险人在与被保险人或受益人达成有关给付保险金数额的协议后10日内，履行给付保险金义务。</p>
					<p>对不属于保险责任的，保险人自作出核定之日起3日内向申请人发出拒绝给付保险金通知书，并说明理由。</p>
					<p>保险人在收到保险金给付申请书及有关证明和资料之日起60日内，对给付保险金的数额不能确定的，根据已有证明和资料可以确定的数额先予支付；保险人最终确定给付保险金的数额后，将支付相应的差额。</p>
					<br />
					<h5>第八部分：意外险使用教程</h5>
					<p>适用范围：全国（不含港、澳、台）</p>
					<p>有效时间：全天（24小时）</p>
					<p>使用适度：工作中、家庭中</p>
					<p>报销情况：门诊、住院</p>
					<p>A、门诊</p>
					<p>1、医疗发票（如有第三方报销：例如社保、农合等，请复印盖报销章，并提供报销明细表）</p>
					<p>2、处方签（只有西药和中药才有，如外伤包扎需要包扎单，治疗费没有处方签）</p>
					<p>3、检查报告（CT、X光、DR检查报告，A4纸张那么大）</p>
					<p>4、病情证明盖章（有医师开具）</p>
					<p>5、事故证明（如交通事故开具交警证明、如单位出险请单位开具证明、出险人身份证复印（请在身份证上留出险人电话号码）</p>
					<p>6、保单复印件</p>
					<p>7、保单人员清单复印件（有出险人那一页的名单）</p>
					<p>8、银行卡复印件（用于保险公司转账到账户）</p>
					<p>B、住院</p>
					<p>1、医疗发票（如有第三方报销：例如社保、农合等，请复印盖报销章，并提供报销明细表）</p>
					<p>2、用药清单盖章</p>
					<p>3、住院病历盖章（需要出院后一个月医院归档后才能提取、请注意复印体温表）</p>
					<p>4、出入院证盖章</p>
					<p>5、事故证明（如交通事故开具交警证明、如单位出险请单位开具证明）</p>
					<p>6、出险人身份证复印（请在身份证上留出险人电话号码）</p>
					<p>7、保单复印件</p>
					<p>8、保单人员清单复印件（有出险人那一页的名单）</p>
					<p>9、银行卡复印件（用于保险公司转账到账户）</p>
					<br />
					<h5>第九部分：意外险咨询电话</h5>
					<p>意外险咨询师：马里安（新华保险金牌资深顾问）</p>
					<p>咨询电话：13340867466</p>
					<p>补胎匠工会之家服务电话：028-65170745</p>
					<p>联系电话：15002826889</p>
					<br />
					<p>此资料供购买保险了解产品责任及理赔信息所用。具体理赔事宜以保险合同条款为准！</p>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane fade in" id="lvshizixun">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4 class="section-title">法律咨询</h4>
					<p>“一个轮胎人温馨的家”——恒骏丰补胎匠与四川原石律师事务所达成战略合作伙伴，精诚合作，携手扬帆，开启轮胎人又一篇新章。值此，原石律师事务所许文林（主任、首席合伙人）将带领全所同仁，携手“恒骏丰补胎匠工会之家”共同服务需要帮助的基层人群、合作伙伴。以轮胎人“工作安心，家人放心”的原则，维系轮胎人的发展和根本保证，为奉献在一线的补胎匠们提供专业的法律咨询或法律服务，帮助其解决在日常生活中、工作中遇到的一切法律纠纷。“万众一心，众志成城”以法律为准绳，弘扬匠人精神。</p>

					<h4 class="section-title">四川原石律师事务所简介</h4>
					<p>四川原石律师事务所是经四川省司法厅批准设立的综合性律师事务所,被成都市司法局、成都市律师协会评为“2011-2014年度成都市优秀律师事务所”，被成都市武侯区司法局评为“2013-2014年度服务法治武侯建设工作先进单位”、优秀党支部等。汇聚了一批法律功底扎实、执业经验丰富的资深律师，也吸收了一批毕业于名校法律专业、获得博士、硕士、学士学位,既谙熟法律理论知识又兼具开拓创新精神的中青年律师，同时还拥有一批曾在公检法系统工作、精通司法实务的优秀人才，形成一支拥有30多名优秀律师的专业团队。</p>
					<p>全所同仁秉承"厚德明法，诚信维权"的宗旨，坚持为当事人提供优质、高效的法律服务，我所摒弃传统律师行业单兵作战的服务模式，在保证律师业务水平的基础之上，强化团队合作，着力打造了一支一流的律师团队品牌，建成一家具有现代管理水平、先进法律服务理念的全面和多元化的综合性法律服务机构，并担任多家政府机关、团体、企事业单位的常年法律顾问，涉及新三板业务、投融资项目，以及各类民事、刑事、行政案件（工伤代理、交通事故、劳动争议、家事纠纷、财产继承、侵权责任纠纷、债务纠纷、合同纠纷、不当得利纠纷，公司企业相关纠纷、知识产权、刑事辩护、行政复议、行政诉讼等。）</p>
					<p>四川原石律师事务所于2011年1月31成立至今，已为数千家企业及个人解决各类法律纠纷，提供各类诉讼与非诉讼法律服务，获得当事人和社会各界的一致好评。</p>
					<p>“忠诚、卓越、勤勉”是四川原石律师事务所的发展理念，原石所有律师将遵循该理念，不断开拓进取。</p>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane fade in" id="aixinpingtai">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4 class="section-title">爱心平台</h4>
					<p>“一个轮胎人温馨的家”——补胎匠工会之家。为会员提供爱心平台的支持，让每一位会员在这个大家庭中有集体的责任感、荣誉感、使命感，共同为需要救援的会员献出一份爱心。如会员在工作中、生活中发生意外伤害或重大疾病会员们相互帮助、给予关爱，特别对轮胎这个传统且高危的行业，补胎匠工会将结合众人之力，对发生意外的会员“发现一个、宣传一个、帮扶一个，安心一个”的原则和理念，为会员们减少自身及家庭的风险，对未来的工作、生活给予更多的信念，体现补胎匠工会这个大家庭的共同和谐。</p>
					<p>目前，对于补胎匠的会员在工作中、生活中（24小时有效）遇到的所有意外伤害（包括但不限于轮胎维护过程中的安装、修补、充气等,日常生活中的狗咬、摔伤、跌伤等），工会将第一时间派人实地调查和了解情况，并协同新华保险对事件进行协助和跟踪，对事件的真实性通过恒骏丰补胎匠官方微信进行报道，号召补胎匠会员们一起救援救助，共同帮扶，将风险降至最低，将医疗费用降至最低。对进行捐助（捐款）的会员，工会进行统一实名实地登记，送达到伤者（或亲属），将信息公布官方微信，供会员们参考和监督。</p>
					<p>2016年7月15日与9月29日，恒骏丰补胎匠与新华人寿保险股份有限公司、四川原石律师事务所达成战略合作关系，代表着补胎匠会员们的人生意外保障、法律咨询由此诞生，传递着会员们的共同的福利和佳音。</p>
					<p>我们同时欢迎更多的有爱心、有热血、有志向的轮胎人加入补胎匠这个大家庭，愿意为每一位会员做出一份贡献，在轮胎事业做出一番成果。</p>
					<p>补胎匠工会之家救助站电话：</p>
					<p>028-65170745</p>
					<p>联系电话：15002826889</p>
					<p>联系人：林先生</p>
					<div class="row">
						<div class="col-xs-12">
							<img src="img/common/logo.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a class="goto-top" href="#" ng-click="onGotoTop()"></a>
</section>

<script>
	$(document).ready(function () {
		$('#welfare #myTab a').click(function (e) {
			e.preventDefault()
			$(this).tab('show')
		})
	});
</script>