* {
	font-family: '微软雅黑';
}

section#company {
}

	section#company h4 {
		text-align: center;
		font-weight: 600;
	}

	section#company p {
		text-indent: 2em;
	}

	section#company img {
		width: 100%;
	}
