* {
	font-family: '微软雅黑';
	font-size: 15px;
	color: #34495e;
}

section {
	min-width: 320px;
}

.goto-top {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 34px;
	height: 31px;
	background-image: url(../img/common/goto-top.png);
	background-size: 100% 100%;
}

.section-title {
	text-align: center;
	font-weight: 600;
	color: #227722;
}

section#company {
}

	section#company p {
		text-indent: 2em;
	}

	section#company img {
		width: 100%;
	}

section#cultural {
}

	section#cultural .panel h5 {
		font-size: 16px;
		font-weight: 600;
	}

	section#cultural .panel .inner-tittle {
		color: #ff5555;
		font-size: 16px;
		font-style: oblique;
		letter-spacing: 3px;
	}

section#thanks {
}

	section#thanks .jumbotron {
		overflow: hidden;
		padding: 0 15px;
		margin-top: 15px;
	}

		section#thanks .jumbotron h3 {
			font-weight: 600;
			font-style: oblique;
		}

		section#thanks .jumbotron h4 {
			font-size: 20px;
			font-weight: 600;
			font-style: oblique;
		}

		section#thanks .jumbotron p {
			font-size: 16px;
			text-indent: 2em;
		}

	section#thanks img {
		width: 100%;
	}

section#product {
}

	section#product select {
		font-size: 15px;
	}

	section#product div[role="tabpanel"] {
		display: none;
	}

	section#product .tab-content .panel h4 {
		text-align: center;
	}

	section#product .tab-content .panel .panel-body .logo {
		width: 280px;
		height: 100px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-bottom: 10px;
	}

	section#product .tab-content .panel .panel-body p {
		text-align: left;
		text-indent: 2em;
	}

	section#product .tab-content .panel .panel-footer img {
		width: 100%;
		margin-bottom: 15px;
	}

section#welfare {
}

	section#welfare .tab-content .tab-pane .panel {
		border-top: none;
		border-radius: 0;
	}

	section#welfare .tab-content .tab-pane h5 {
		font-size: 16px;
	}

	section#welfare .tab-content .tab-pane p {
		text-indent: 2em;
	}

	section#welfare .tab-content .tab-pane img {
		width: 100%;
	}
